# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# IntelliJ IDE
.idea
.vscode/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Golangci-lint report
*report.xml

# Dependency directories (remove the comment below to include it)
# vendor/

# START - Chainlink Local (CLL) artifacts
.local

# Solidity compilation artifacts
cache
out
# STOP - Chainlink Local (CLL) artifacts

# Build outputs
bin

# Monorepo tool
.nx/installation
.nx/cache
.nx/workspace-data

# Used for changesets
node_modules

