go 1.25.3

use (
	.
	./capabilitywatcher
	// ./chain_capabilities/evm
	./cron
	./consensus
    ./kvstore
    ./libs
	./http_action
	./http_trigger
	// ./integration_tests
	./loadtestwritetarget
	// ./mock
	./p2psigner
	./readcontract
	./workflowevent
	// ./workflows
	// ./workflows/readbalancesgen/cmd
)
